<div class="hero-unit">
	<h1>
		Welcome to NsTasks</h1>
	<p>
		Click "Get started" to get started. :)
	</p>
	<p>@Html.ActionLink("Get started", "Login", "Account", null, new { id = "loginLink", @class = "btn btn-primary btn-large" })</p>
</div>
